<div id='signin-div'>

  <div id="title-div">Sign In</div>

  <div id="subtitle">
    <div class="layout_half">
      <div class="top-line"></div>
      <div class="subitem1">Employee</div>
    </div>
    <div class="layout_half">
      <div class="top-line"></div>
      <div class="subitem1">Employer</div>
    </div>
  </div>
  
  <div id="description">
    <div class="layout_half">
      <div class="subitem2">Find everything you need to track your success on the road.</div>
    </div>
    <div class="layout_half">
      <div class="subitem2">Manage your payment options, review trip history, and more.</div>
    </div>
  </div>

  <div id="button">
    <div class="layout_half">
      <button class="btn" ng-click="employee_signin()"><label>Employee Sign in</label><i class="icon-resize-small"></i></button>
    </div>
    <div class="layout_half">
      <button class="btn" ng-click="employer_signin()"><label>Employer Sign in</label><i class="icon-resize-small"></i></button>
    </div>
  </div>
  
</div>